<p-card [header]="producto().nombre">
  <p>{{ producto().descripcion }}</p>

  @if (producto().categoria_nombre) {
    <p>
      Categoría:
      <strong>{{ producto().categoria_nombre }}</strong>
    </p>
  }

  <p-tag
    severity="success"
    [rounded]="true"
    [value]="'$' + producto().precio.toLocaleString('es-MX')"
  />

  <ng-template #footer>
    <div class="acciones">
      <a [routerLink]="['/productos', producto().id]" pButton>
        <span pButtonLabel>Ver detalle</span>
      </a>

      <p-button
        [severity]="agregado() ? 'danger' : 'secondary'"
        [variant]="agregado() ? undefined : 'outlined'"
        (onClick)="cambiarFavorito()"
      >
        @if (agregado()) {
          <svg
            data-p-icon="heart-fill"
            size="18"
            aria-hidden="true"
          ></svg>

          <span pButtonLabel>Quitar de favoritos</span>
        } @else {
          <svg
            data-p-icon="heart"
            size="18"
            aria-hidden="true"
          ></svg>

          <span pButtonLabel>Agregar a favoritos</span>
        }
      </p-button>
    </div>
  </ng-template>
</p-card>